<div class="row">
    <h1>Projects</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 part">
            <h3>Example</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas eveniet reiciendis quas, repellat numquam voluptates eaque fugiat consectetur facilis, repellendus laborum sapiente eum doloremque assumenda similique necessitatibus minima tenetur iusto!</p>
        </div>
        <div class="offset-md-1 offset-lg-1 part2 col-sm-12 col-md-3 col-lg-3">
             <img class="img-fluid img-proyecto" src="../../../assets/proyect.png" alt="">
        </div>
    </div>
</div>
