div {
    background-color: #272522;
}

#div-main{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    box-shadow: 4px 2px 5px black;
    margin-bottom: 2%;
}


.row{
    margin: auto;
}

#egg{
    margin-bottom: 2%;
    width: 100%;
    height: 100%;
    background-color: #272522;
}

@media (max-width: 575px){
    #egg{
        margin-bottom: 6%;
        width: 100%;
        height: 100%;
        background-color: #272522;
    }
}