<body class="fond">
    <section class="vh-100 gradient-custom">
    <div class="container  h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase text-center">Edit Experience</h2>
  
                <form #f="ngForm" (ngSubmit)="onUpdate()" novalidate>
  
                  <div class="tex-left form-outline form-white mb-4">
                        <label for="nombreE">Name</label>
                        <input type="text" class="form-control form-control-lg" id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreEx" required>
                  </div>
  
                  <div class="form-outline form-white mb-4">
                    <label for="descripcionE">Description</label>
                    <input type="text" class="form-control form-control-lg" id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionEx" required>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <label for="fechaE">Date</label>
                    <input type="text" class="form-control form-control-lg" id="fechaE" name="fechaE" [(ngModel)]="expLab.fechaEx" required>

                  </div>
  
                  <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
  
                  <button class=" align-items-center btn btn-outline-light btn-lg px-5" type="submit">Update Experience</button>
  
                </form>
  
              </div>
  
              <div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>