div{
    margin: auto;
    background-color: #272522;
    color: #fff;
}

.row{
    padding: 20px;
}

h2,h3{
    display: inline;
}
.t{
    color: white;
}

.container{
    display: flex;
    justify-content: left;
}

.w{
    margin-left: 10px;
}