<div class="row">
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="{{persona[0].img}}" alt="profile-pic" class="img-fluid" id="profile-pic">
        <p id="name">{{persona[0].nombre}} {{persona[0].apellido}}</p>
        <p id="titulo">{{persona[0].titulo}}</p>
    </div> 
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="about">
        <button *ngIf="isLogged" class="btn btn-success" routerLink="/editper/{{persona[0].id}}"><i class= "bi bi-pencil-square"></i> Edit</button>
        <span>
            <h1 id="a_title">About Me</h1>
            <p>{{persona[0].about}}</p>
        </span>
    </div>
</div>
